In [1]:
#Imports generales
import time
import dateutil.parser as dateparser
from datetime import date,timedelta

import pandas as pd
import numpy as np
from sqlalchemy import create_engine, exc
from sqlalchemy import Table, Column, ForeignKey, MetaData, types
from sqlalchemy.sql import select,and_, or_, not_,func, desc
from psycopg2 import connect
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [2]:
#Constantes
DB = "tp3"
HOST = "localhost"
PASS = "password"
USER = "postgres"
PORT = '5432'

# Diagrama DW - Vinoteca - Esquema copo de nieve

![Diagrama](img/Vinoteca.jpg "Diagrama")

##### Dimensiones:
    class, time, customer
##### Hechos:
    ventas, order
##### Medidas para 'ventas':
    Precio_orden
##### Medidas para 'order':
    nrBottles, nrCases

#### Crear el "engine" pasando la dirección de la db

In [3]:
url_connect = USER + ':' + PASS + '@' + HOST+ ':' + PORT

try:
    engine = create_engine('postgresql://' + url_connect)
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + DB)
    conn.close()
except Exception:
    print("La Base de Datos ya existe")

In [4]:
engine = create_engine('postgresql://' + url_connect + "/" + DB)
engine

Engine(postgresql://postgres:***@localhost:5432/tp3)

In [5]:
metadata = MetaData()

In [6]:
#TIME (TimeStamp, Date, Year,)
time = Table('time', metadata,
    Column('Id', types.Integer, primary_key=True),                     
    Column('TimeStamp', types.TIMESTAMP),         
    Column('Year', types.Integer, primary_key=False),
    Column('Date', types.Date, nullable=False),
 )

#CLASS (Code, Name, Region)
tipo_vino = Table('class', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Region', types.String(length=50)),
 )

#CUSTOMER (Code, Name, Address, Phone, BDay, Gender)
customer = Table('customer', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Address', types.String(length=50)),
    Column('Phone', types.String(length=50)),
    Column('BDay', types.String(length=50)),
    # Hombre = True, Mujer = False
    Column('Gender', types.Boolean),

 )

#WINE (Code, Name, Type, Vintage, BottlePrice, CasePrice, Class)
wine = Table('wine', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Type', types.String(length=50)),
    Column('Vintage', types.Integer),
    Column('BottlePrice', types.Float),
    Column('CasePrice', types.Float),
    Column('Class',types.Integer, ForeignKey("class.Code")),                  
 )

#ORDER (Code,Customer, Wine, Time, nrBottles, nrCases)
orden = Table('order', metadata,
    Column('Code',types.Integer, primary_key=True),         
    Column('Id_customer',types.Integer, ForeignKey("customer.Code")),         
    Column('Id_wine',  types.Integer, ForeignKey("wine.Code") ),
    Column('Id_time',  types.Integer,ForeignKey("time.Id")),
    Column('nrBottles', types.Integer),
    Column('nrCases', types.Integer),          
 )

# VENTAS (ID_WINE,ID_ORDER,PRECIO_ORDEN)
# VER PORQUE NO FUNCIONA ESTA PARTE
#ventas = Table('ventas', metadata,
#    Column('Id_venta', types.Integer, primary_key=True),         
#    Column('Id_order', types.Integer,ForeignKey("order.Code")),
#    Column('Id_wine', types.Integer, ForeignKey("wine.Code")),
#    Column('Precio_orden', types.Float)
# )

In [7]:
metadata.create_all(engine)

In [8]:
#Extraer el año del date para que coincida con campo Year
df_time = pd.read_csv("dataTp3/Time.csv")
df_time["Year"] = df_time["TimeStamp"].apply(lambda x: dateparser.parse(x).year)
df_time["Date"] = df_time["TimeStamp"].apply(lambda x: dateparser.parse(x).date())

try:    
    #Cargar dataframes en postgresql
    time = df_time.to_sql('time', engine, index=None,if_exists='append')
except exc.IntegrityError:
    print ("Los datos ya estan cargados")

In [9]:
df_customer= pd.read_csv("dataTp3/Customer.csv")
df_class= pd.read_csv("dataTp3/Class.csv")
df_wine= pd.read_csv("dataTp3/Wine.csv")
df_order = pd.read_csv("dataTp3/Order.csv")

try:
    customer = df_customer.to_sql('customer', engine, index=None,if_exists='append')
    classes = df_class.to_sql('class', engine, index=None,if_exists='append')
    wine = df_wine.to_sql('wine', engine, index=None,if_exists='append') 
    order = df_order.to_sql('order', engine, index=None,if_exists='append') 
except exc.IntegrityError:
    print ("Los datos ya estan cargados")

In [10]:
df_ventas= pd.read_csv("dataTp3/Ventas.csv")
df_ventas["Precio_orden"] = np.random.random(1000)
df_ventas["Precio_orden"] = df_ventas["Precio_orden"].apply(lambda x: round(x*1000,2))

In [11]:
#Establece el id_wine que se encuentra  asociado a una orden.

df_order.pop("Id_customer")
df_order = df_order.drop(df_order.columns[2:], axis=1)
df_order.set_index(["Code"])
df_ventas.set_index(["Id_order"])
temp = df_order.join(df_ventas["Id_order"], how="inner")
df_ventas["Id_wine"] = temp["Id_wine"]

In [12]:
df_ventas.to_sql('ventas', engine, index=None, if_exists='append')

In [13]:

def calcular_porcentaje_ventas(engine,anio):
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    wine=metadata.tables.get("wine")
    time=metadata.tables.get("time")
    clase=metadata.tables.get("class")
    
    
    
    consulta = select([clase.c.Code,clase.c.Name,func.count(clase.c.Code).label('Cantidad de ventas segun tipo')]).\
                            where( and_(ventas.c.Id_order == orden.c.Code,
                                                                    orden.c.Id_time == time.c.Id,
                                                                       time.c.Year == anio,
                                        ventas.c.Id_wine == wine.c.Code,
                                        wine.c.Class == clase.c.Code
                                       )).group_by(clase.c.Code,clase.c.Name)
        
    
    
    result = conn.execute(consulta).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    total_tipos = sum(df[2])
    df["Porcentaje"] = df[2].apply(lambda x: (x/total_tipos)*100)
    print(df)

calcular_porcentaje_ventas(engine,2005)

      0           1  2  Porcentaje
0   528      George  1    2.127660
1   812       Perez  1    2.127660
2    59       Perry  1    2.127660
3   790     Simmons  1    2.127660
4    72      Kelley  1    2.127660
5   504   Patterson  2    4.255319
6   858      Larson  1    2.127660
7   975     Morales  1    2.127660
8   424    Peterson  1    2.127660
9   170     Bradley  1    2.127660
10  438    Harrison  1    2.127660
11  983       Scott  1    2.127660
12  327       Gomez  1    2.127660
13  151         Ray  1    2.127660
14  280     Spencer  1    2.127660
15  462        Ryan  1    2.127660
16  328      Harris  1    2.127660
17  222    Thompson  1    2.127660
18  645    Hamilton  1    2.127660
19  444       Lynch  1    2.127660
20  219       Olson  1    2.127660
21   96       Lewis  1    2.127660
22  470        Wood  1    2.127660
23   78        Hart  1    2.127660
24  432      Taylor  1    2.127660
25  144       Grant  1    2.127660
26   81        Sims  1    2.127660
27  541    Williams  1    2.127660
28  311       Woods  1    2.127660
29  797    Anderson  2    4.255319
30  218     Russell  1    2.127660
31  413      Hunter  1    2.127660
32  784      Watson  1    2.127660
33  585       Clark  1    2.127660
34  850      Howard  1    2.127660
35  829       Burns  1    2.127660
36  455        Hunt  1    2.127660
37  310      Gibson  1    2.127660
38  626  Montgomery  1    2.127660
39  491  Washington  1    2.127660
40  988      Austin  1    2.127660
41  183      Lawson  1    2.127660
42   88     Wallace  1    2.127660
43  271        Rice  1    2.127660
44  970        Hill  1    2.127660

In [ ]:
#Temporada que los vinos de tipo X se venden mas?

def buscar_vino_en_temporada(nombre_tipo_vino="Anderson"):
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    wine=metadata.tables.get("wine")
    time=metadata.tables.get("time")
    clase=metadata.tables.get("class")
    
    id_tipo_vino = select([clase.c.Code]).where(and_(
                                                ventas.c.Id_wine == wine.c.Code,\
                                                wine.c.Class == clase.c.Code,\
                                                clase.c.Name == nombre_tipo_vino)).\
                                                correlate(clase).limit(1) 
    
    #porque en la bd tenemos mas de un mismo tipo de vino como consecuencia del generador de datos
    
    consulta_temporadas = select([clase.c.Code,time.c.Year,func.count(clase.c.Code).label("quantity") ]).\
                                                        where( and_(ventas.c.Id_order == orden.c.Code,\
                                                        orden.c.Id_time == time.c.Id,\
                                                        orden.c.Id_wine == wine.c.Code,\
                                                        wine.c.Class == id_tipo_vino)).\
                                                        group_by(clase.c.Code,time.c.Year).\
                                                        order_by(desc("quantity"))
    
    result = conn.execute(consulta_temporadas).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    print (df)

buscar_vino_en_temporada()

In [ ]:
#Cliente que ha realizado mas compras

def buscar_compras_de_clientes():
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    customer=metadata.tables.get("customer")
    time=metadata.tables.get("time")
    
    fecha = date.today() - timedelta(days=365*4)

    consulta_temporadas = select([orden.c.Id_customer,func.count(orden.c.Id_customer).label('c1')]).where(and_(
                                                      ventas.c.Id_order == orden.c.Code,
                                                      orden.c.Id_time == time.c.Id,
                                                      time.c.Date >= fecha)).group_by(orden.c.Id_customer)
    
    result = conn.execute(consulta_temporadas).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result, columns=["Id_customer", "Quantity"])
    print (df)
    
buscar_compras_de_clientes()