In [7]:
import pandas as pd
import numpy as np
from sqlalchemy import MetaData, create_engine, Table, Column, ForeignKey
from sqlalchemy import Integer, String, Date, Float, Time
from sqlalchemy import exc
from prettytable import PrettyTable

In [8]:
#Constantes
DB = "tp312"
HOST = "localhost"
PORT = "5433"
PASS = "postgres"
USER = "postgres"

# Diagrama de DW  - Inmobiliaria

![Diagrama](img/Inmobiliaria.png "Diagrama")

In [9]:
url_conect = USER + ':' + PASS + '@' + HOST+ ':' + PORT + '/'+ DB
engine = create_engine('postgresql://' + url_conect)

In [11]:
metadata = MetaData()


estate = Table('estate', metadata,
              Column('id', Integer, primary_key=True),
              Column('category', String),
              Column('area', Float, nullable=False),
              Column('city', String, nullable=False),
              Column('province', String, nullable=False),
              Column('rooms', Integer, nullable=False),
              Column('bedrooms', Integer, nullable=False),
              Column('garage', Integer),
              Column('meters', Float, nullable=False))

customer = Table('customer', metadata,
                Column('id', Integer, primary_key=True),
                Column('name', String, nullable=False),
                Column('surname', String, nullable=False),
                Column('budget', Float),
                Column('address', String),
                Column('city', String),
                Column('phone', String))

visit = Table('visit', metadata, 
             Column('id', Integer, primary_key=True),
             Column('duration', Integer, nullable=False))

sale = Table('sale', metadata, 
            Column('id', Integer, primary_key=True),
            Column('agreed_price', Float, nullable=False),
            Column('status', String, nullable=False))

fact = Table('fact', metadata,
            Column('id', Integer, primary_key=True),
            Column('id_estate', Integer, ForeignKey('estate.id')),
            Column('id_cust', Integer, ForeignKey('customer.id')),
            Column('date', Date, nullable=False),
            Column('id_visit', Integer, ForeignKey('visit.id'), nullable=True),
            Column('id_sale', Integer, ForeignKey('sale.id'), nullable=True))

In [12]:
metadata.create_all(engine)

Carga de Datos
--------------

In [13]:
try:
    df_estate = pd.read_csv('dataTp3/Inmobilaria/Estate.csv')
    df_estate.to_sql('estate', engine, index=None, if_exists="append")
    
except exc.IntegrityError:
    print("Los datos de Estate ya han sido cargados en la BD")

In [14]:
try:
    df_customer = pd.read_csv('dataTp3/Inmobilaria/Customer.csv')
    df_customer.to_sql('customer', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Customer ya han sido cargados en la BD")

In [15]:
try:
    df_visit = pd.read_csv('dataTp3/Inmobilaria/Visit.csv')
    df_visit.to_sql('visit', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Visit ya han sido cargados en la BD")

In [16]:
try:
    df_sale = pd.read_csv('dataTp3/Inmobilaria/Sale.csv')
    df_sale.to_sql('sale', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Sale ya han sido cargados en la BD")

In [17]:
try:
    df_fact = pd.read_csv('dataTp3/Inmobilaria/Fact.csv')
    df_fact.to_sql('fact', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Fact ya han sido cargados en la BD")

# Consultas

## Consulta 1: 
¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada
ciudad y meses?

In [67]:
query = 'select date as mes, city, category, agreed_price from fact\
        inner join estate on (id_estate = estate.id)\
        inner join sale on (id_sale = sale.id)\
        where id_sale is not NULL'

resul = pd.read_sql_query(query, con=engine)

resul["mes"] = pd.DatetimeIndex(resul["mes"]).month

cities = resul.city.drop_duplicates().values

x = PrettyTable()
x.field_names = ["City", "Mes", "Categoty", "Price"]
for city in cities:
    data_city = resul[resul["city"] == city]
    meses = data_city.mes.drop_duplicates().values
    for mes in meses:
        data_mes = data_city[data_city["mes"] == mes]
        data_mes.sort_values(by=["agreed_price"], ascending=False)
        precio = data_mes.agreed_price.values[0]
        catg = data_mes.category.values[0]
        x.add_row([city, mes, catg, precio])
print(x)

+----------------------------------------+-----+--------------+-----------+
|                  City                  | Mes |   Categoty   |   Price   |
+----------------------------------------+-----+--------------+-----------+
|               Schaumburg               |  10 | departamento | 2854306.0 |
|                 Calape                 |  12 | departamento | 9282258.0 |
|               Bobrowice                |  8  | departamento | 4335467.0 |
|                Shuguang                |  12 | monoambiente | 4353605.0 |
|          Jabłonowo Pomorskie           |  3  |     casa     | 9218195.0 |
|                  Aku                   |  1  | departamento | 4635670.0 |
|                 Suchań                 |  8  |    duplex    | 9381036.0 |
|                Xingfeng                |  5  | departamento | 2741920.0 |
|                 Baratã                 |  2  | monoambiente | 6637962.0 |
|                Donghai                 |  8  |   triplex    | 7318446.0 |
|              Dongyangzhen              |  5  | departamento | 2155310.0 |
|          Staromyshastovskaya           |  3  | departamento | 3395808.0 |
|               Ehen Hudag               |  8  | departamento | 2011965.0 |
|                 Autun                  |  1  | departamento | 7256543.0 |
|                 Lakbok                 |  4  | monoambiente | 5118283.0 |
|                Alaghsas                |  3  | departamento | 1979113.0 |
|                Kanlagay                |  11 | monoambiente | 2701302.0 |
|                Chicacao                |  4  | departamento | 9145974.0 |
|                Shaoguan                |  12 | departamento | 3087917.0 |
|              Sidi Slimane              |  3  | departamento | 7653240.0 |
|              Santa Elena               |  9  | departamento | 6905620.0 |
|                 Unión                  |  6  | departamento | 5985061.0 |
|                Mamonit                 |  10 | monoambiente | 5505044.0 |
|               Nový Knín                |  5  | departamento | 6340719.0 |
|                 Ōgaki                  |  4  | departamento | 5245307.0 |
|              Pulau Pinang              |  3  | departamento | 1432740.0 |
|                  Moca                  |  8  | departamento | 8191588.0 |
|                  Sim                   |  10 | departamento | 8162736.0 |
|                Sơn Tây                 |  4  |   triplex    | 8469847.0 |
|                Uppsala                 |  9  | monoambiente | 7851858.0 |
|                Zhangxi                 |  4  | departamento | 3186842.0 |
|                 Veles                  |  3  |     piso     | 9766483.0 |
|                  Hāla                  |  9  | monoambiente | 3404356.0 |
|                 Wanmao                 |  5  | departamento | 1568406.0 |
|             Ban Lam Luk Ka             |  6  | monoambiente | 5237282.0 |
|               Urek-urek                |  11 | departamento | 9011422.0 |
|                 Kumba                  |  10 | departamento | 5054441.0 |
|              Gunungsubang              |  2  |    duplex    | 6955991.0 |
|                 Yi’an                  |  3  | departamento | 4519349.0 |
|               Trzebnica                |  8  | departamento | 2229867.0 |
|                 Fuxin                  |  2  | monoambiente | 3199242.0 |
|               Courbevoie               |  5  | monoambiente | 3244088.0 |
|               Dongsheng                |  12 | departamento | 2785975.0 |
|               San Rafael               |  7  | monoambiente | 5672669.0 |
|                 Replot                 |  5  |   triplex    | 2422044.0 |
|                 Caloue                 |  8  | departamento | 1006826.0 |
|                 Dalun                  |  4  |   triplex    | 1182680.0 |
|                 Pengbu                 |  10 | departamento | 2923795.0 |
|                 Senovo                 |  7  | departamento | 3070674.0 |
|              Tumpakkepuh               |  12 | departamento | 8208898.0 |
|                Korotych                |  3  | departamento | 2527251.0 |
|                Korolevo                |  12 | departamento | 2948520.0 |
|                Sayansk                 |  6  | departamento | 9392880.0 |
|                Nanxing                 |  11 | departamento | 7465123.0 |
|                 Abomey                 |  12 | departamento | 4981076.0 |
|               Hostomice                |  10 |     piso     | 7998435.0 |
|                 Ponce                  |  3  |    duplex    | 8220360.0 |
|             Patos de Minas             |  4  |   triplex    | 7379103.0 |
|                  Boyu                  |  2  | monoambiente | 8048340.0 |
|                 Bakau                  |  12 | departamento | 1902067.0 |
|               Hualongyan               |  11 | monoambiente | 4758443.0 |
|               Shajia’ao                |  5  | monoambiente | 6060949.0 |
|                Máncora                 |  5  | monoambiente | 4645450.0 |
|                 Hutag                  |  11 | departamento | 8427867.0 |
|                 Troyes                 |  6  | departamento | 3264722.0 |
|                 Samur                  |  12 | departamento | 2447443.0 |
|               Pocohuanca               |  5  | departamento | 7851201.0 |
|               Pajarillo                |  8  |   triplex    | 7883764.0 |
|                 Purral                 |  8  | departamento | 3769982.0 |
|            Novozavedennoye             |  12 | departamento | 9511737.0 |
|                Łętownia                |  3  | departamento | 3927618.0 |
|                 Bilian                 |  5  | monoambiente | 7301533.0 |
|               Przyborów                |  6  |     piso     | 5854180.0 |
|                 Salgar                 |  10 |   triplex    | 5316187.0 |
|                 Bijie                  |  8  | departamento | 5939640.0 |
|                 Bontoc                 |  5  |   triplex    | 1840058.0 |
|                 Chaihe                 |  6  |   triplex    | 5973807.0 |
|                 Yufrus                 |  8  | monoambiente | 6258828.0 |
|               Karangsari               |  4  | monoambiente | 1586472.0 |
|                Taubaté                 |  4  | monoambiente | 8869646.0 |
|                 Tavira                 |  7  | departamento | 4496980.0 |
|                Ozatlán                 |  4  | departamento | 4586978.0 |
|              Kebonbencoy               |  4  | departamento | 5071610.0 |
|             Wola Rębkowska             |  5  | departamento | 6689773.0 |
|                 Tanabi                 |  8  | departamento | 5646692.0 |
|                  Mori                  |  8  | monoambiente | 7620673.0 |
|                 Cihaur                 |  10 |     piso     | 3220706.0 |
|                 Nunleu                 |  11 | monoambiente | 5910310.0 |
|                Tuusula                 |  4  | departamento | 7040373.0 |
|           Mazra‘at Bayt Jinn           |  7  | monoambiente | 8735551.0 |
|               Volgograd                |  5  |     piso     | 9911554.0 |
|                 Karang                 |  1  | monoambiente | 7794433.0 |
|               Fengjiang                |  4  |   triplex    | 1267403.0 |
|               De la Paz                |  2  | departamento | 7565037.0 |
|                  Mýki                  |  1  |    duplex    | 6265273.0 |
|                  Pigí                  |  8  | monoambiente | 4912080.0 |
|               Rasskazovo               |  5  |     piso     | 4286377.0 |
|                Kolokani                |  9  | departamento | 7898520.0 |
|                 Phrae                  |  1  | departamento | 8444275.0 |
|                 Akunk’                 |  11 |    duplex    | 8815758.0 |
|               Littleton                |  6  |    duplex    | 5122782.0 |
|                Bouaflé                 |  4  |     piso     | 5946760.0 |
|               Krasnystaw               |  6  |   triplex    | 4321434.0 |
|                 Madala                 |  9  | departamento | 6512827.0 |
|              Kramators’k               |  6  | departamento | 7811011.0 |
|                 Plast                  |  7  | monoambiente | 6063500.0 |
|                 Akron                  |  9  | departamento | 4055170.0 |
|               Capacmarca               |  7  |   triplex    | 3309794.0 |
|                  Otse                  |  7  | departamento | 8268768.0 |
|                Skärhamn                |  5  |   triplex    | 3238570.0 |
|               Longcheng                |  2  |   triplex    | 9576979.0 |
|                 Tabuk                  |  8  | departamento | 6093303.0 |
|                 Goundi                 |  9  | departamento | 6850499.0 |
|               Yongledian               |  6  | monoambiente | 8262786.0 |
|               Lilla Edet               |  4  | departamento | 2586870.0 |
|                Tangwang                |  10 | departamento | 6565308.0 |
|                 Punsu                  |  5  |    duplex    | 7454871.0 |
|                Shuibian                |  2  | departamento | 8250285.0 |
|                 Outing                 |  9  | departamento | 9642728.0 |
|                 Delson                 |  9  | departamento | 9826362.0 |
|               Samanggen                |  12 | departamento | 7237991.0 |
|                 Liloy                  |  8  | departamento | 3112415.0 |
|               Matviyivka               |  10 | departamento | 7047342.0 |
|              Katrineholm               |  9  | departamento | 2247921.0 |
|        Espírito Santo do Pinhal        |  11 |   triplex    | 6855302.0 |
|             Az Zuwaytīnah              |  10 |   triplex    | 6078375.0 |
|               Bafoussam                |  12 | departamento | 9255030.0 |
|                 Burgos                 |  4  | departamento | 8367195.0 |
|                Khatanga                |  3  | departamento | 3248294.0 |
|                 Puyan                  |  8  | departamento | 1650021.0 |
|                 Yangji                 |  1  | departamento | 3874079.0 |
|                 Zdíkov                 |  3  | departamento | 7337896.0 |
|                 Wārāh                  |  6  |   triplex    | 1957540.0 |
|                Niedzica                |  9  | monoambiente | 2717760.0 |
|                Dresden                 |  5  |    duplex    | 7941411.0 |
|                 Kribi                  |  9  |   triplex    | 9342226.0 |
|               Huangchen                |  12 | departamento | 2583190.0 |
|                Xiaoyan                 |  6  | departamento | 1266400.0 |
|            Gonzalo Pizarro             |  12 | monoambiente | 9062125.0 |
|                Elassóna                |  4  |     piso     | 5144137.0 |
|               Amirdzhan                |  11 | departamento | 4950979.0 |
|               Lijiaping                |  7  | departamento | 3927215.0 |
|               Blainville               |  11 |   triplex    | 2796934.0 |
|                Antipino                |  8  | departamento | 9655442.0 |
|                Tuanjie                 |  8  |   triplex    | 8945665.0 |
|              Baie-Comeau               |  6  | monoambiente | 8891674.0 |
|                Lianshan                |  6  | departamento | 2658037.0 |
|                Pingshui                |  3  | departamento | 8905948.0 |
|                 Derjan                 |  10 |   triplex    | 9165871.0 |
|                 Berlin                 |  12 | departamento | 4130320.0 |
|                 Berlin                 |  10 | monoambiente | 5176639.0 |
|            Fakaifou Village            |  9  | monoambiente | 3807211.0 |
|             Jengglungharjo             |  11 |   triplex    | 9006717.0 |
|                Cam Ranh                |  5  | departamento | 8501168.0 |
|                 Samoš                  |  9  | departamento | 1424219.0 |
|               Changping                |  4  | departamento | 4683509.0 |
|                Quintães                |  10 | departamento | 6014267.0 |
|               Otrokovice               |  5  | monoambiente | 6683254.0 |
|                Tuojiang                |  6  |     casa     | 4489204.0 |
|                Tha Tako                |  6  | monoambiente | 1680753.0 |
|               Bundibugyo               |  11 | monoambiente | 9768906.0 |
|               Tinabogan                |  2  | departamento | 9264805.0 |
|             Novokuz’minki              |  11 | departamento | 9717723.0 |
|                Atlanta                 |  8  |    duplex    | 8289787.0 |
|                Mayfa‘ah                |  10 | monoambiente | 9412306.0 |
|                Tengqiao                |  3  | departamento | 3098780.0 |
|                  Huyu                  |  10 | departamento | 9365984.0 |
|             Ivry-sur-Seine             |  2  |   triplex    | 5998681.0 |
|                Notodden                |  12 |     casa     | 6051646.0 |
|                Alameda                 |  7  | departamento | 2605728.0 |
|               Gros Morne               |  5  | monoambiente | 1039041.0 |
|                 Hufeng                 |  11 | monoambiente | 2744420.0 |
|               Cikandang                |  4  | departamento | 6627456.0 |
|                  Kolo                  |  3  | departamento | 9518245.0 |
|                Muzayri‘                |  7  | departamento | 6044188.0 |
|             Petaling Jaya              |  1  | departamento | 7315011.0 |
|               Shatoujiao               |  9  |     casa     | 2657565.0 |
|            Špišić-Bukovica             |  1  | departamento | 9607076.0 |
|             Campina Grande             |  11 | monoambiente | 5917339.0 |
|                  Góra                  |  12 |    duplex    | 2802396.0 |
|                Angered                 |  8  | departamento | 5773365.0 |
|                Al Ḩarāk                |  7  | monoambiente | 4840501.0 |
|                 Dayou                  |  2  | departamento | 2160537.0 |
|                Gaotuan                 |  7  |     piso     | 2815411.0 |
|                 Capela                 |  8  |     piso     | 6010489.0 |
|             Cana Chapetón              |  7  | monoambiente | 6493691.0 |
|                 Qiaogu                 |  1  | monoambiente | 9744973.0 |
|            Itaquaquecetuba             |  3  | departamento | 7119512.0 |
|                Wang Noi                |  9  | departamento | 5248518.0 |
|              Novopokrovka              |  11 | monoambiente | 5768037.0 |
|                Granada                 |  7  | departamento | 5721537.0 |
|                Granada                 |  6  |   triplex    | 8740060.0 |
|                Granada                 |  2  | monoambiente | 6290001.0 |
|                Troitsk                 |  12 | monoambiente | 1326875.0 |
|                Troitsk                 |  10 | departamento | 5323397.0 |
|                 Tiouli                 |  10 |     casa     | 7172601.0 |
|               Changqiao                |  2  |     piso     | 6368893.0 |
|                Sevlievo                |  3  | departamento | 4224574.0 |
|                Donggang                |  9  | departamento | 4957181.0 |
|                Tokuyama                |  11 | monoambiente | 5681276.0 |
|               Damatulan                |  5  | departamento | 3355943.0 |
|         São Francisco do Conde         |  4  | departamento | 2721339.0 |
|                Changdai                |  12 | monoambiente | 1188678.0 |
|                Zongjia                 |  6  | departamento | 6573216.0 |
|               Shimanovsk               |  1  | departamento | 2534753.0 |
|            Kuala Terengganu            |  6  | departamento | 2821665.0 |
|                Jiaoyuan                |  5  | departamento | 7616032.0 |
|               Hankasalmi               |  4  | departamento | 6129650.0 |
|                 Jabat                  |  6  | departamento | 7072648.0 |
|               Chandmanĭ                |  9  | departamento | 9553049.0 |
|              Horana South              |  11 | monoambiente | 5769406.0 |
|                Gardanne                |  10 | departamento | 9163450.0 |
|                 Dikson                 |  11 | departamento | 5810991.0 |
|               Bayan Hure               |  10 |   triplex    | 6007451.0 |
|                Lamawan                 |  12 | departamento | 2764540.0 |
|               Kagawasan                |  9  | departamento | 2173639.0 |
|               Karangasem               |  3  | departamento | 2742687.0 |
|               Karangasem               |  6  | departamento | 1355847.0 |
|             La Talaudière              |  8  |     casa     | 3257858.0 |
|                 Beitan                 |  2  | departamento | 5666390.0 |
|               Yanahuanca               |  4  | departamento | 1308739.0 |
|                  Fier                  |  12 | departamento | 1660656.0 |
|                 Kandy                  |  3  |     casa     | 7622658.0 |
|                 Thala                  |  11 | departamento | 8541715.0 |
|                  Caen                  |  4  | departamento | 2047093.0 |
|                Tha Ruea                |  11 |     piso     | 4502727.0 |
|                Altıağac                |  11 | departamento | 8655710.0 |
|                Chuzhou                 |  6  | departamento | 2928697.0 |
|                 Joševa                 |  4  |   triplex    | 5486765.0 |
|               Dabachang                |  10 | departamento | 2224598.0 |
|                Mentaras                |  10 | monoambiente | 1255751.0 |
|      Orekhovo-Borisovo Severnoye       |  7  | departamento | 6163996.0 |
|               Limatambo                |  9  |   triplex    | 1644365.0 |
|                 Danzi                  |  5  |     piso     | 8626193.0 |
|                 Gongxi                 |  7  | departamento | 1708440.0 |
|                 Hadano                 |  9  |   triplex    | 5081772.0 |
|                 Ceres                  |  10 | departamento | 7280254.0 |
|               Gikongoro                |  12 | monoambiente | 5499129.0 |
|                 Palca                  |  7  | departamento | 1862924.0 |
|                 Soroti                 |  6  | departamento | 1536521.0 |
|                Billings                |  10 | departamento | 3559198.0 |
|                Gabahan                 |  12 |    duplex    | 3800641.0 |
|                 Ajung                  |  9  | departamento | 1354858.0 |
|                Fatufeto                |  4  |   triplex    | 7236651.0 |
|                Decatur                 |  9  | monoambiente | 9313980.0 |
|                Kut Chap                |  2  | departamento | 1096580.0 |
|               Goz Béïda                |  5  |   triplex    | 8268252.0 |
|                Gaoling                 |  7  | departamento | 5411456.0 |
|                 Mengeš                 |  10 | departamento | 2801182.0 |
|            Valença do Douro            |  12 |    duplex    | 6440330.0 |
|                 Youzha                 |  3  | departamento | 9171149.0 |
|                Meedhoo                 |  5  |   triplex    | 4851642.0 |
|                Dongbatu                |  1  |   triplex    | 5989036.0 |
|              Trollhättan               |  12 |     casa     | 5870487.0 |
|               Balkanabat               |  5  | departamento | 7667958.0 |
|               Fukayachō                |  9  | departamento | 5911285.0 |
|                Taiping                 |  7  | departamento | 6150437.0 |
|                Xinxing                 |  7  | monoambiente | 2440636.0 |
|                 Sogati                 |  5  |   triplex    | 3866165.0 |
|               Bharatpur                |  6  |    duplex    | 9092398.0 |

## Consulta 1 - V2:

¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada
ciudad y meses?

In [19]:
string_sql = """select city, date_part('month',"date") as mes, category, MAX(agreed_price) as Price_Max from fact
                inner join estate on (id_estate = estate.id)
                inner join sale on (id_sale = sale.id)
                where id_sale is not NULL
                group by city, category, mes
                order by city ASC; """

df_propiedades = pd.read_sql_query(string_sql,engine.connect()) 
df_propiedades

                 city   mes      category  price_max
0              Abomey  12.0  departamento  4981076.0
1               Ai Tu   5.0  monoambiente  7053829.0
2               Ajung   9.0  departamento  1354858.0
3               Akron   9.0  departamento  4055170.0
4                 Aku   1.0  departamento  4635670.0
5              Akunk’  11.0        duplex  8815758.0
6            Alaghsas   3.0  departamento  1979113.0
7             Alameda   7.0  departamento  2605728.0
8            Álftanes   4.0  departamento  9230622.0
9            Al Ḩarāk   7.0  monoambiente  4840501.0
10           Altıağac  11.0  departamento  8655710.0
11             Altona   8.0  departamento  5900452.0
12          Amirdzhan  11.0  departamento  4950979.0
13          Ampeleíes   9.0  departamento  1566186.0
14            Angered   8.0  departamento  5773365.0
15       Anhua Daying  12.0       triplex  6863173.0
16           Antipino   8.0  departamento  9655442.0
17           Ariguaní   9.0          casa  9010991.0
18            Atlanta   8.0        duplex  8289787.0
19              Autun   1.0  departamento  7256543.0
20               Avon  10.0       triplex  3683043.0
21      Az Zuwaytīnah  10.0       triplex  6078375.0
22           Babahoyo   9.0  departamento  7787245.0
23       Babo-Pangulo  11.0        duplex  2919121.0
24             Bafang   9.0  departamento  7476204.0
25          Bafoussam  12.0  departamento  9255030.0
26        Baie-Comeau   6.0  monoambiente  8891674.0
27              Bakau  12.0  departamento  1902067.0
28            Balagui   6.0  monoambiente  9122874.0
29         Balkanabat   5.0  departamento  7667958.0
..                ...   ...           ...        ...
470            Wanmao   5.0  departamento  1568406.0
471             Wārāh   6.0       triplex  1957540.0
472        Wilmington   2.0  departamento  1617139.0
473    Wola Rębkowska   5.0  departamento  6689773.0
474            Wulipu   3.0  departamento  5399201.0
475           Xiaoyan   6.0  departamento  1266400.0
476             Xiluo   2.0  departamento  1993444.0
477          Xingfeng   5.0  departamento  2741920.0
478           Xinxing   7.0  monoambiente  2440636.0
479           Xuetian   7.0  monoambiente  3595730.0
480        Yanahuanca   4.0  departamento  1308739.0
481          Yancheng  10.0  departamento  3780311.0
482            Yangji   1.0  departamento  3874079.0
483           Yangliu   4.0       triplex  8913175.0
484             Yanhe   3.0       triplex  5831686.0
485     Yegorlykskaya   5.0       triplex  3378446.0
486  Yelizavetinskoye  11.0  monoambiente  1049832.0
487             Yi’an   3.0  departamento  4519349.0
488        Yongledian   6.0  monoambiente  8262786.0
489            Yotala   2.0        duplex  5698386.0
490            Youzha   3.0  departamento  9171149.0
491     Yuanjiazhuang   8.0       triplex  8704458.0
492            Yufrus   8.0  monoambiente  6258828.0
493            Yushan  10.0  monoambiente  4241328.0
494            Zdíkov   3.0  departamento  7337896.0
495             Zekou   9.0  monoambiente  5475334.0
496           Zhangxi   4.0  departamento  3186842.0
497           Zhanjia   9.0  departamento  9538087.0
498         Zhongtang   3.0  monoambiente  1910507.0
499           Zongjia   6.0  departamento  6573216.0

[500 rows x 4 columns]

# Consulta 2:
¿Quén ha comprado un piso con el precio más alto con respecto a cada mes?

In [55]:
string_sql = """select mes, name, surname, agreed_price from (
                    select mes, name, surname, agreed_price, rank() over particion_por_mes
                        from ( select date_part('month',"date") as mes, "name", surname, category, agreed_price
                            from fact inner join estate on (id_estate = estate.id)
                            inner join sale on (id_sale = sale.id) 
                            inner join customer on (id_cust = customer.id)
                        where id_sale is not NULL and category = 'piso'
                        order by agreed_price DESC) as pepe
                        WINDOW particion_por_mes AS (partition by mes order by agreed_price DESC)
                ) as sub_query
                WHERE rank = 1; """

df_clientes_pisos = pd.read_sql_query(string_sql,engine.connect()) 
df_clientes_pisos

   mes     name   surname  agreed_price
0    1   Samuel      Cook       8116995
1    2    Debra      Dunn       6368893
2    3    Julia  Mitchell       9766483
3    4     Paul     Price       5946760
4    5   Victor   Elliott       9911554
5    6    Marie    Thomas       5854180
6    7   Pamela     Payne       6114295
7    8  Richard      Rose       6010489
8   10   Janice    George       7998435
9   11     Carl    Murray       4502727

## Consulta 3:
¿Cuál es la duración media de visitas en las propiedades de cada categoría?

In [57]:
string_sql = """ select distinct category, tiempo_promedio
                 from (
                        select category, avg(duration)
                        over particion_por_categoria as tiempo_promedio
                        from (
                                fact inner join estate on (id_estate = estate.id) 
                                inner join visit on (id_visit = visit.id) )
                        WINDOW particion_por_categoria AS (partition by category)
                 ) as promedio; """
df_mayor_duracion = pd.read_sql_query(string_sql,engine.connect()) 
df_mayor_duracion

##Tiempo promedio en horas

       category  tiempo_promedio
0  departamento         5.319231
1          casa         4.750000
2        duplex         6.375000
3  monoambiente         4.917355
4       triplex         5.250000
5          piso         5.000000